{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <h1 class="display-4 mb-4">Send us an email</h1>
    <h4>Example of using Http-triggered Azure Function</h4>
     <hr>
    <div id="output"></div>
    <form id="submitMessage">
      <div class="form-group">
        <input type="text" id="name" class="form-control" placeholder="Your first name">
      </div>
      <div class="form-group">
        <input type="email" id="email" class="form-control" placeholder="Your email">
      </div>
      <div class="form-group">
        <textarea id="message" class="form-control" placeholder="Type your message..."></textarea>
      </div>
      <input type="submit" class="btn btn-secondary" value="Submit">
    </form>
  </div>
    <div class="col-md-4">
        <h3>Azure Serverless Functions</h3>
        <p><a class="btn btn-primary btn-large" href="https://azure.microsoft.com/en-us/services/functions/" target="_blank">Learn more about Azure Functions</a></p>
    </div>
  <div class="col-md-4">
        <h3>.NET Core Azure Functions</h3>
        <p><a class="btn btn-primary btn-large" href="https://blogs.msdn.microsoft.com/benjaminperkins/tag/azure-functions-labs/" target="_blank">Learn more about Azure Functions</a></p>
    </div>
   <div class="col-md-4">
        <h3>Http-triggered Python function</h3>
        <p><a class="btn btn-primary btn-large" href="https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python" target="_blank">Learn more about Azure Functions</a></p>
    </div>
  <script>
    document.getElementById('submitMessage').addEventListener('submit', submitMessage);
    function processResponse(response) {
      if (response.status === 200) {
        output =
          `
        <div class="alert alert-success" role="alert">
          Thanks, ${document.getElementById('name').value}! We'll be in touch soon! Http trigger function processed the message
        </div>
        `;
        document.getElementById('output').innerHTML = output;
      } else {
        output =
          `
        <div class="alert alert-danger" role="alert">
          Oh no! Something went wrong :(
        </div>
        `;
        document.getElementById('output').innerHTML = output;
      }
    }
    function submitMessage(e) {
      e.preventDefault();
      let name = document.getElementById('name').value;
      let email = document.getElementById('email').value;
      let message = document.getElementById('message').value;
      fetch('https://sentemailjs.azurewebsites.net/api/SentGridHttpTrigger', {
          method: 'POST',
          headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            name: name,
            email: email,
            message: message
          })
        })
        .then((res) => processResponse(res))
    }
  </script>
{% endblock %}
