{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h3>Python</h3>
        <p>Flask is designed to make getting started quick and easy, with the ability to scale up to complex applications, and has become one of the most popular Python web application frameworks.</p>
        <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>
    <div class="col-md-4">
        <h3>Flask</h3>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-primary btn-large"href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Microsoft Azure</h3>
        <p>You can easily publish to Microsoft Azure App Services using Visual Studio, VS Code, Git and many others. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-primary btn-large" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>



{% endblock %}
